  label {
    display: table;
    position: relative;
    border: none;
    margin: 0.25em;
    padding: 0.25em;
  }

  .multiline > span {
    vertical-align: top;
    display: inline-block;
  }

  .label-text {
    text-decoration: underline;
    font-variant: small-caps;
    text-transform: lowercase;
    font-size: 1.2em;
    margin: 0.25em;
  }

  label:focus-within .label-text {
    color: dodgerblue;
  }

  button, input[type="submit"], input[type="image"], input[type="reset"], input[type="button"] {
    appearance: none;
    background: dodgerblue;
    color: white;
    padding: 0.25em 0.5em;
    border: none;
    border: 2px solid dodgerblue;
    border-bottom: 0.25em solid dodgerblue;
    font-size: 120%;
    margin: 0.25em;
  }

  :-moz-any(button, input[type="submit"], input[type="image"], input[type="reset"], input[type="button"]):-moz-any(:active, .active) {
    background: white;
    color: black;
    border-color: transparent;
    border-color: dodgerblue;
    padding: 0.25em;
    cursor: progress;
  }
  :any(button, input[type="submit"], input[type="image"], input[type="reset"], input[type="button"]):any(:active, .active) {
    background: white;
    color: black;
    border-color: transparent;
    border-color: dodgerblue;
    padding: 0.25em;
    cursor: progress;
  }
  :-webkit-any(button, input[type="submit"], input[type="image"], input[type="reset"], input[type="button"]):-webkit-any(:active, .active) {
    background: white;
    color: black;
    border-color: transparent;
    border-color: dodgerblue;
    padding: 0.25em;
    cursor: progress;
  }

  :-webkit-any(button, input[type="submit"], input[type="image"], input[type="reset"], input[type="button"]):focus {
    text-decoration: underline;
  }
  :-moz-any(button, input[type="submit"], input[type="image"], input[type="reset"], input[type="button"]):focus {
    text-decoration: underline;
  }
  :any(button, input[type="submit"], input[type="image"], input[type="reset"], input[type="button"]):focus {
    text-decoration: underline;
  }

  :-webkit-any(button, input[type="submit"], input[type="image"], input[type="reset"], input[type="button"]):-webkit-any(:active:focus, .active:focus) {
    text-decoration: none;
    border-style: dotted;
    border-color: dodgerblue;
  }
  :-moz-any(button, input[type="submit"], input[type="image"], input[type="reset"], input[type="button"]):-moz-any(:active:focus, .active:focus) {
    text-decoration: none;
    border-style: dotted;
    border-color: dodgerblue;    
  }
  :any(button, input[type="submit"], input[type="image"], input[type="reset"], input[type="button"]):any(:active:focus, .active:focus) {
    text-decoration: none;
    border-style: dotted;
    border-color: dodgerblue;
  }

  *:focus {
    outline: none;
  }
  ::-moz-focus-inner {
    border: 0;
  }

  label:focus-within::before {
    animation: blurout 3.2s ease;
    content: "X";
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    position: absolute;
    background: dodgerblue;
    color: dodgerblue;
    width: 1em;
    height: 1em;
    top: 50%;
    left: 0;
    transform: translate(-100%,-50%);
    z-index: var(--ztop);
   }

  button .spinner {
    display: none;
    margin-left: 0.3em;
  }


  button.active .spinner {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    vertical-align: text-top;
  }

  [contenteditable], textarea, select, input[type="text"], input[type="number"], input[type="file"], input[type="email"], input[type="tel"], input[type="url"], input[type="password"], input:not([type]) {
    font-size: 1em;
    border: 2px solid transparent;
    border-bottom: 0.25em solid silver;
    padding: 0.25em 0.5em;
  }

  input[type="file"] {
    border-color: transparent;
    font-family: monospace;
  }

  :-webkit-any([contenteditable], input, textarea):focus {
    border-color: dodgerblue;
    border-style: dotted;
  }

  :-moz-any([contenteditable], input, textarea):focus {
    border-color: dodgerblue;
    border-style: dotted;
  }    
  
  :any([contenteditable], input, textarea):focus {
    border-color: dodgerblue;
    border-style: dotted;
  }

  input[type="date"], input[type="datetime-local"], input[type="month"], select {
    font-size: 1em;
    border-style: solid;
    border-color: silver;
    border: 2px solid silver;
    border-bottom: 0.25em solid silver;
    font-family: monospace;
    padding: 0.25em 0.5em;
  }

  :-webkit-any(input[type="date"], input[type="datetime-local"], input[type="month"], select):focus {
    border-style: solid;
    border-color: dodgerblue;
  }
     
  :-moz-any(input[type="date"], input[type="datetime-local"], input[type="month"], select):focus {
    border-style: solid;
    border-color: dodgerblue;
  }
    
  :any(input[type="date"], input[type="datetime-local"], input[type="month"], select):focus {
    border-style: solid;
    border-color: dodgerblue;
  }

  :-webkit-any([contenteditable], textarea, select, input)[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    background: grey;
  }    
    
  :-moz-any([contenteditable], textarea, select, input)[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    background: grey;
  }
   
  :any([contenteditable], textarea, select, input)[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    background: grey;
  }

  div.tag-editor {
    display: inline-block;
    min-width: 40ch;
    font-family: monospace;
  }

  div.tag-editor {
    min-width: 25ch;
    padding: 0.125em;
    flex-wrap: wrap;
  }

  div.tag-editor, div.tag-editor div {
    display: inline-flex;
    max-width: 55ch;
    align-items: start;
  }

  span.tag {
    display: inline-block;
    margin: 0.25em;
    padding: 0.25em;
    font-size: 85%;
    line-height: 0.85;
    text-decoration: underline;
    min-height: 0.85em;
  }
