/** styles for inputs **/ 
  /** normalizing input styles **/
    button, input, input[type="text"], select, textarea, [contenteditable] {
      border: thin solid silver;
      box-sizing: border-box;
      border-radius: 0;
      margin: 0;
      background: white;
      box-shadow: none;
      background-clip: padding-box;
      touch-action: none;
    }

    button, input[type="submit"], input[type="image"], input[type="reset"], input[type="button"] {
      padding: 0.25em 0.5em;
    }

    button, input[type="submit"], input[type="image"], input[type="reset"], input[type="button"], .label-text {
      -webkit-user-select: none;
      -ms-user-select: none;
      -moz-user-select: none;
      -ms-touch-action: none;
      -ms-touch-select: none;
      touch-action: none;
      user-select: none;
      -webkit-touch-callout: none;
    }

    select[multiple] { overflow: auto; }

    textarea { resize: none; }

  /** layout perfection **/ 
    .input {
      display: flex;
      align-items: stretch;
      margin: 0.75em 0;
      box-sizing: border-box;
    }

    label {
      display: inline-flex;
      align-items: stretch;
    }

    .label-text {
      margin-right: 0.25em;
      padding: 0;
      align-self: center;
    }

    .input.inline { display: inline-flex; }

    .input.multiline { align-items: start; }

    .input.spaced :-webkit-any(button, select, textarea, input, [contenteditable]) {
      margin: 0.25em;
    }
 
    .input.multiline .label-text {
      /** this normalizes label vertical align on Chrome and Safari, trying margins/padding gives 1 pixel errors **/
      align-self: start;
      line-height: 1.8;
    }

    select[multiple] option {
      /** this vertical aligns option to label in multiple select **/
      padding: 0.075em 0.25em;
      line-height: 1.35;
      font-size: 12.5pt;
    }

  /** bring as much consistency as possible to file inputs  **/
    ::placeholder, input[type="file"] {
      color: grey;
      font-weight: normal;
      font-family: inherit;
    }

    input[type="file"]::-webkit-file-upload-button {
      display: inline-block;
      background: aliceblue;
      padding: 0.25em 0.5em;
      height: 2em;
      font-family: inherit;
      color: rgb(55,15,0);
      border-radius: 0 !important;
      border: none;
      border-right: 0.5em solid white;
      outline: none;
    }

    input[type="file"] {
      padding: 0;
      padding-right: 0.5em;
      line-height: 1;
      font-size: 12pt;
    }

    /** ms only **/
      ::-ms-browse {
        display: inline-block;
        background: aliceblue;
        padding: 0.25em 0.5em;
        height: 2em;
        font-family: inherit;
        color: rgb(55,15,0);
        border-radius: 0 !important;
        border: none;
        border-right: 0.5em solid white;
        outline: none;
      }

    /** safari only **/
      _:default:not(:root:root), input[type="file"] {
        font-size: 0.75em;
        padding: 0.5em;
      }

      _:default:not(:root:root), input[type="file"]::-webkit-file-upload-button {
        border: thin solid silver;
      }

    div.tag-editor, [contenteditable], textarea {
      display: inline-block;
      min-width: 25ch;
      max-width: 55ch;
    }

  /** tag input **/
    div.tag-editor {
      padding: 0.25em;
      flex-wrap: wrap;
    }

    div.tag-editor, div.tag-editor div {
      display: inline-flex;
      max-width: 55ch;
      align-items: start;
    }

    span.tag {
      display: inline-block;
      margin: 0.125em;
      padding: 0.125em;
      font-size: 85%;
      line-height: 0.85;
      text-decoration: underline;
      min-height: 0.85em;
    }

  /** spinner integration **/
    button .spinner {
      display: none;
      margin-left: 0.25em;
    }

    button.active .spinner {
      display: inline-block;
      width: 1.2em;
      height: 1.2em;
      vertical-align: text-top;
    }

    .spinner {
      color: gainsboro;
    }

  /** special button styles **/
    button, input[type="submit"], input[type="image"], input[type="reset"], input[type="button"] {
      background: gainsboro;
      color: rgba(50,50,50,0.75);
      text-shadow: 0.25px 0.25px 0 #ececfd;
    } 

    input[type="file"]::-webkit-file-upload-button {
      background: gainsboro;
      color: rgba(50,50,50,0.75);
      text-shadow: 0.25px 0.25px 0 #ececfd;
    }

    ::-ms-browse {
      background: gainsboro;
      color: rgba(50,50,50,0.75);
      text-shadow: 0.25px 0.25px 0 #ececfd;
    }

    _:default:not(:root:root), input[type="file"]::-webkit-file-upload-button {
      background: gainsboro;
      color: rgba(50,50,50,0.75);
      text-shadow: 0.25px 0.25px 0 #ececfd;
    }

